@charset "UTF-8";

/* 回答はここに書いてね */
.wrapper {
	margin: 0 auto;
	width: 900px;
}

.all-box {
	background-color: #eff3f4;
	padding: 20px;
}

.main-box {
	width: 230px;
	background-color: #3274ae;
	float: left;
	padding: 20px;
}

.main-box:not(:first-child) {
	margin-left: 20px;
}

.in-box {
	padding: 20px;
	border: 10px solid #022336;
	background-color: #eaf4ff;
}

.clearfix:after {
	content: "";
    display: block;
    clear: both
}
/* 回答はここに書いてね */
