@charset "UTF-8";

/* 回答はここに書いてね */
.wrapper2 {
	margin: 0 auto;
	width: 500px;
	height: 500px;
	background-color: #ECF1F2;
	position: static;
}

.container1 {
	background-color: #ffefd3;
	top: 220px;
	left: 430px;
	z-index: auto;
}

.container2 {
	background-color: #7084de;
	top: 300px;
	left: 505px;
	z-index: 1;
}

.container3 {
	background-color: #d0ecea;
	top: 380px;
	right: 275px;
	z-index: 2;
}

.container4 {
	background-color: #8b7a5e;
	bottom: 267px;
	right: 355px;
	z-index: 3;
}

.container5 {
	background-color: #9fd6d2;
	bottom: 187px;
	left: 430px;
	z-index: 4;
}

.container6 {
	background-color: #fffee4;
	bottom: 267px;
	left: 350px;
	z-index: 5;
}

.container7 {
	background-color: #deae70;
	bottom: 347px;
	left: 270px;
	z-index: 6;
}

.container8 {
	background-color: #de70cf;
	top: 300px;
	left: 350px;
	z-index: 7;
}

.container8:after {
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	height: 20px;
	background-color: #ffefd3;
	content: "";
}

.container9 {
	background-color: #2b69a3;
	top: 10px;
	left: 10px;
}

.all {
	width: 100px;
	height: 100px;
	position: absolute;
}
/* 回答はここに書いてね */
